<nav class="navbar navbar-expand-lg navbar-dark navbar-shrink fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">CVMaker</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
    aria-label="Toggle Navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#templates">Templates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" (click)="showLoginForm()">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div bsModal #loginModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal" (click)="tmpHarvardModal.hide()">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <!-- <div class="container"> -->
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <form id="loginForm" class="form-horizontal" [formGroup]="loginForm">
              <!-- [saBootstrapValidator]="validatorOptions" -->
              <div class="modal-header">
                <h2 class="text-uppercase">Sign In</h2>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label class="control-label">Username*</label>
                  <input class="form-control" placeholder="Enter a username" type="email" formControlName="username" name="username">
                  <!-- <p class="error-msg" *ngIf="loginForm.controls.username.errors.required &&
                            loginForm.controls.username.dirty">
                            Please enter a valid username!</p> -->
                </div>
                <div class="form-group">
                  <label class="control-label">Password*</label>
                  <input class="form-control" placeholder="Enter a password" type="password" formControlName="password" name="password">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" (click)="login()" class="btn btn-primary">Login</button>
              </div>
            </form>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>
